<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>DuoFrameServlet</servlet-name>
        <servlet-class>com.movies.action.DuoFrameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DuoFrameServlet</servlet-name>
        <url-pattern>/DuoFrameServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>com.movies.action.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/AuthenticationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoogleAuthenticatorServlet</servlet-name>
        <servlet-class>com.movies.action.GoogleAuthenticatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleAuthenticatorServlet</servlet-name>
        <url-pattern>/GoogleAuthenticatorServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
